<div class="bootstrap-wrapper" *ngIf="!isSubmit">

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-2">
                <!-- instruction -->
                <mat-card style="margin-top: 70px;">
                    <mat-card-content>
                        <h3><b>Instructions</b></h3>
                        <ul>
                            <li>Do not refresh page otherwise you will get new questions in this quiz.</li>
                            <li>Do not switch tabs. We can monitor easily.</li>
                            <li>Do not minimize the windows.</li>
                        </ul>
                    </mat-card-content>
                </mat-card>

            </div>

            <div class="col-md-8">
                <!-- Questions -->
                <ng-container *ngIf="questions">

                    <h1 class="mt20">On Going Quiz <b>{{ questions[0].quiz.title }}</b>

                    </h1>

                </ng-container>

                <mat-card *ngFor="let q of questions; let i=index" class="mt10">

                    <mat-card-content>

                        <p> <b> Q - {{ i+1 }}) </b><span class="ml20" [innerHTML]=" q.content"></span></p>


                        <mat-divider></mat-divider>

                        <div class="row mt10 ml20">

                            <div class="col-md-6">
                                <input type="radio" [(ngModel)]="q.givenAnswer" [value]="q.option1"
                                    [name]="i.toString()">{{q.option1}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [value]="q.option2" [name]="i.toString()"
                                    [(ngModel)]="q.givenAnswer">{{q.option2}}
                            </div>

                        </div>

                        <div class="row mt10 ml20">

                            <div class="col-md-6">
                                <input type="radio" [value]="q.option3" [name]="i.toString()"
                                    [(ngModel)]="q.givenAnswer">{{q.option3}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [value]="q.option4" [name]="i.toString()"
                                    [(ngModel)]="q.givenAnswer">{{q.option4}}
                            </div>

                        </div>

                    </mat-card-content>

                </mat-card>

                <div class="container text-center mt20">
                    <button (click)="submitQuiz()" mat-raised-button color="accent">Submit Quiz</button>
                </div>

            </div>

            <div class="col-md-2">
                <!-- Progress -->

                <mat-card style="margin-top: 70px;">
                    <mat-card-header>
                        <mat-card-title>
                            Progress
                        </mat-card-title>
                        <mat-card-subtitle>
                            Quiz will auto-submit after deadline time as per shown in progress.
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <h1 class="mt20 text-center"><b>{{getFormattedTime()}}</b></h1>
                        <mat-spinner mode="determinate" color="accent" style="margin:auto;"
                            [value]="(timer / (this.questions.length * 2 * 60))*100"></mat-spinner>
                    </mat-card-content>
                </mat-card>


            </div>

        </div>

    </div>

</div>


<!-- Show the result -->
<div class="bootstrap-wrapper" *ngIf="isSubmit">

    <div class="row mt20">

        <div class="col-md-6 offset-md-3">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Quiz Result
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <h2 class="mt20">Marks Got: {{ marksGot }}</h2>
                    <h2>Correct Answers: {{correctAnswers}}</h2>
                    <h2>Questions Attempted: {{attempted}}</h2>
                </mat-card-content>
                <mat-card-actions>
                    <div class="container text-center mt20 mb20">
                        <button (click)="printPage()" mat-raised-button color="primary">Print</button>
                        <button class="ml20" [routerLink]="'/user-dashboard/0'" mat-raised-button
                            color="accent">Home</button>
                    </div>
                </mat-card-actions>

            </mat-card>

        </div>

    </div>

</div>