<mat-card *ngIf="user">

    <h2 class="mt20 ml20">Welcome {{user.firstName}} {{user.lastName}} , </h2>
    <!-- {{user | json}} -->
    <mat-card-content class="ml20">

        <div class="bootstrap-wrapper">

            <div class="container">

                <div class="container text-center">

                    <img src="/assets/profile_dhruv.jpg"
                        alt="" class="profile-image">

                    <h1 class="mt20">{{user.firstName}} {{user.lastName}}</h1>

                </div>

                <div class="row">

                    <div class="col-md-10 offset-md-1">

                        <!-- Table Details -->
                        <table class="table text-center">

                            <tr>
                                <td>Username</td>
                                <td>{{user.username | uppercase}}</td>
                            </tr>
                            <tr>
                                <td>User Id</td>
                                <td>Exam {{user.id}}</td>
                            </tr>
                            <tr *ngIf="user.phone">
                                <td>Phone</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr *ngIf="user.authorities[0].authority">
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled?"ACTIVE":"NOT ACTIVE"}}</td>
                            </tr>

                        </table>

                    </div>

                </div>

            </div>

        </div>

    </mat-card-content>

    <div class="container text-center mt20 mb20">
        <button mat-raised-button color="primary">UPDATE</button>
        <button mat-raised-button class="ml20" color="accent">LIKE</button>
    </div>
        
    

</mat-card>